
.container{
    width: 70%;
}
form {
    width: 100%;
}
.title {
    background-color: lightgray;
}

.form-group.required>label:first-child:after{
 content: "*";
 color: red;
 padding-left: 5px;   
}